{% extends 'layout.html' %}

{% block content %}
<h3>
    Profile | Welcome {{ current_user.email }}
</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="https://via.placeholder.com/1000x1500" alt="profile">
    </div>
    <div class="col-md">
        <form action="{{ url_for('main.profile') }}" method="POST" enctype="multipart/form-datafl">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ current_user.first_name }}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ current_user.last_name }}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form group">
                        <input type="email" class="form-control" placeholder="example@email.com" name="email" value="{{ current_user.email }}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="profile-image" id="" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea type="form-control" class="form-control-file" name="" id="" cols="30" rows="10"
                            placeholder="Type bio here"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-block" value="Update Profile" />
                    </div>
                </div>
        </form>
    </div>
    
    <hr />

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                {% for p in posts %}
                <li class="list-group-item">
                    <p>
                        <a href="{{ url_for('blog.get_post' , id=p.id) }}">{{ p['body'] }}</a>
                    </p>
                    <div>
                        <span>
                            <cite>&mdash; {{ p.author.first_name }} {{ p.author.last_name }}</cite>
                            <small class="float-right">{{ moment(p.date_created).fromNow() }}</small>
                        </span>
                        ​
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}