{% extends 'layout.html' %}

{% block content %}
<h3>
    Profile | Welcome {{ u }}
</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="https://via.placeholder.com/1000x1500" alt="profile">
    </div>
    <div class="col-md">
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form group">
                        <input type="email" class="form-control" placeholder="example@email.com" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="" id="" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea type="form-control" class="form-control-file" name="" id="" cols="30" rows="10"
                            placeholder="Type bio here"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-block" value="Update Profile" />
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock content %}